<div class="search-well">
  <%= form_tag branch_backend_lenders_path, :method => "get", :class => "form-inline" do %>
    <%= text_field_tag :q, '', :placeholder => "姓名或电话" %>
    <%= submit_tag "搜索", :class => "btn" %>
  <% end %>
</div>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>电话</th>
        <th>总渠道</th>
        <th>分渠道</th>
        <th>状态</th>
        <th>注册时间</th>
        <th style="width: 20px;"></th>
      </tr>
    </thead>
    <tbody>
      <% @lenders.each do |lender| %>
        <tr>
          <td><%= lender.name %></td>
          <td><%= lender.mobile %></td>
          <td><%= lender.source.to_s.blank? ? '' : t(lender.source.to_s) %></td>
          <td><%= lender.channel.to_s.blank? ? '' : t(lender.channel.to_s) %></td>
          <td><%= lender.auth_realname_state %></td>
          <td><%= lender.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @lenders, :previous_label => '上一页', :next_label => '下一页' %>