<div class="search-well">
  <% url = backend_offline_recharges_path %>
<%= search_form_for @q, :url => url, :html => {:class => "form-inline", :id=>"recharge_search"} do |f| %>
  <%= hidden_field_tag :download %>
  <%= f.search_field :created_at_gteq, :value => params[:q].try(:[], :created_at_gteq) %>
   至
  <%= f.search_field :created_at_lteq, :value => params[:q].try(:[], :created_at_lteq) %>
  <%= f.select :offline_bank_id_eq, OfflineBank.all.collect{|o|[o.name, o.id]}, include_blank: true %>
  <%= f.submit "搜索", :class => "btn searchBtn" %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to '下载搜索结果', 'javascript:return false;', class: 'downloadLink'%>
<% end %>
</div>
<script type="text/javascript">
  $(function (){
    $('#q_created_at_gteq').datepicker({
    inline: true
  });
  $('#q_created_at_lteq').datepicker({
    inline: true
    });
  $('.downloadLink').click(function(){
    $('#download').val('on');
    $('#recharge_search').attr('target', '_blank').submit();
    return false;
  });
  $('.searchBtn').click(function(){
    $('#download').val('');
    $('#recharge_search').attr('target', '_self');
  });
  })
</script>


<div class="well">
  <table class="table table-th-right">
    <tbody>
      <tr>
        <th>申请金额：</th>
        <td><%= rmb @amount %></td>
      </tr>
      <tr>
        <th>批准金额：</th>
        <td><%= rmb @permit %></td>
    </tr>
  </tbody></table>
</div>
<div class="well">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>编号</th>
          <th>姓名</th>
          <th>金额</th>
          <th>批准金额</th>
          <th>用户备注</th>
          <th>充值银行</th>
          <th>申请时间</th>
          <th>审核人</th>
          <th>审核备注</th>
          <th>审核时间</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <% @offline_recharges.each do |recharge| %>
          <tr>
            <td><%= recharge.id %></td>
            <td><%= recharge.user.name %></td>
            <td><%= recharge.amount %></td>
            <td><%= recharge.permit_amount %></td>
            <td><%= recharge.comment %></td>
            <td><%= recharge.offline_bank.detail %></td>
            <td><%= format_time recharge.created_at %></td>
            <td><%= recharge.try(:auditor).try(:email) %></td>
            <td><%= recharge.auditor_comment %></td>
            <td><%= format_time recharge.audit_time %></td>
            <td><%= recharge.status_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<%= will_paginate @offline_recharges, renderer: BootstrapPagination::Rails %>