<div class="search-well">
  <% url = backend_pay_orders_path  %>
<%= search_form_for @q, :url => url, :html => {:class => "form-inline", :id=>"pay_search"} do |f| %>
	<%= hidden_field_tag :download %>
	<%= f.search_field :pay_class_cont, class: "input-xlarge", placeholder: "支付平台" %>
	<%= f.search_field :created_at_gteq, :value => params[:q].try(:[], :created_at_gteq) %>
	 至
	<%= f.search_field :created_at_lteq, :value => params[:q].try(:[], :created_at_lteq) %>
	<%= f.submit "搜索", :class => "btn searchBtn" %>&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to '下载搜索结果', 'javascript:return false;', class: 'downloadLink'%>
	<%= hidden_field_tag :action, params[:action] %>
<% end %>
</div>
<script type="text/javascript">
	$(function (){
		$('#q_created_at_gteq').datepicker({
		inline: true
	});
	$('#q_created_at_lteq').datepicker({
		inline: true
		});

  $('.downloadLink').click(function(){
    $('#download').val('on');
    $('#pay_search').attr('target', '_blank').submit();
    return false;
  });
  $('.searchBtn').click(function(){
    $('#download').val('');
    $('#pay_search').attr('target', '_self');
  });
	})
</script>
