<div class="right">
   <%= render 'nav' %>
   <div class="margin_top">
   <%= form_note_account flash %>
  </div>
   <div class="contents" style='display:block;'>
      <div class="czjl">
         <div class="czjltitle">充值金额</div><div class="czjltitle">充值银行</div><div class="czjltitle">充值时间</div><div class="czjltitle">充值状态</div>
      </div>
      <% @offline_recharges.each do |recharge| %>
      <div class="czjl">
         <div class="czjltitle"><%= rmb(recharge.amount) %></div>
         <div class="czjltitle"><%= recharge.bank_name %></div>
         <div class="czjltitle"><%= format_time(recharge.created_at) %></div>
         <div class="czjltitle lan"><%= recharge.status_name %><%= "(#{recharge.auditor_comment})" if recharge.auditor_comment.present? %></div>
      </div>
      <% end %>
      <%= will_paginate @offline_recharges %>
   </div>
</div>