<div class="right" style="min-height:400px;">
    <div class="czjl_top"></div>
    <%= form_note_account flash %>
    <div class="tongtit">
      <div class="xshi">自动投标</div>
    </div>
    <div>
    <% if current_user.auto_invest_rules.present? %>
    <div class='tongtit' style='line-height: 45px;color: #ff6766;'>
    您前面的自动排队资金总额：<%= AutoInvestRule.amount_before(current_user.auto_invest_rules.first) %>元。
    </div>
    <table class='table' style='margin-bottom:0;'>
      <thead>
        <tr class='thead'>
          <th>启用</th>
          <th>每次投标金额</th>
          <th>利息范围</th>
          <th>借款期限</th>
          <!-- <th>有抵押</th>
          <th>有担保</th> -->
          <th>还款方式</th>
          <!-- <th>保留金额</th> -->
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @auto_invest_rules.each do |rule| %>
        <tr>
          <td><%= rule.actived_at.blank? ? '否' : '是' %></td>
          <td>
            <% if rule.amount.present? %>
            <%= rmb rule.amount %>
            <% else %>
            可用金额：<%= rmb current_user.show_available %>
            <% end %>
          </td>
          <td><%= rule.min_interest %>-<%= rule.max_interest %>%</td>
          <td><%= rule.min_months %>-<%= rule.max_months %>个月</td>
          <!-- <td><%= rule.with_mortgage ? '是' : '否' %></td>
          <td><%= rule.with_guarantee ? '是' : '否' %></td> -->
          <td><%= rule.repay_style.present? ? t(rule.repay_style) : '不限' %></td>
          <!-- <td><%= rmb rule.remain_amount %></td> -->
          <td>
            <a href="<%= edit_account_auto_invest_path(rule) %>"><i class="icon-pencil"></i>修改</a>&nbsp;
            <a href="<%= account_auto_invest_path(rule) %>" data-confirm="确认删除此投标规则?" data-method="delete" rel="nofollow"><i class="icon-remove"></i>删除</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
     <div class="contents_auto">

        <% if current_user.auto_invest_rules.blank? %>
            <div class="row">
              <div class="col-sm-9 col-sm-offset-3" >
                  <a class="btn btn-primary btn-lg" href="<%= new_account_auto_invest_path %>">开启自动投标</a>
              </div>
            </div>
        <% end %>

     </div>
     <div class="contents_auto" style='text-align:left;margin-top:100px;padding-left:30px;line-height:30px;'>
      <span style='color: #ff6766;'>注:</span><br>
1、自动投标按照队列排序投标。<br>
2、账户余额不足投标时，自动投标无效并重新排序。<br>
3、关闭自动投标再重新开启，将重新排序!（修改自动投标设置顺序也会重新排序!）。
     </div>
   </div>
</div>